:root {
    --font-base: 'Tajawal', sans-serif;
    --font-headings:  'Tajawal', sans-serif;
    --font-input: 'Tajawal', sans-serif;
    }
    *{
        font-family: 'Tajawal', sans-serif !important;
    }
    body, #content, .entry-content, .post-content, .page-content, .post-excerpt, .entry-summary, .entry-excerpt, .widget-area, .widget, .sidebar, #sidebar, footer, .footer, #footer, .site-footer {
        font-family: 'Tajawal', sans-serif;     }
    #site-title, .site-title, #site-title a, .site-title a, .entry-title, .entry-title a, h1, h2, h3, h4, h5, h6, .widget-title {
        font-family: 'Tajawal', sans-serif;     }
    button, .button, input, select, textarea, .wp-block-button, .wp-block-button__link {
        font-family: 'Tajawal', sans-serif;     }
    .vc_column_container > .vc_column-inner {
      padding: 0;
    }
    
    .page-main-content {
      padding: 0;
    }
    
    
    .page-content {
      padding: 0;
      padding-top: 0px;
      padding-bottom: 100px;
    }
    
    .page-title-bar-02 .page-title-bar-inner {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    
    .arFontFamily {
        font-family: 'Tajawal', sans-serif;    }
    
    .enFontFamily {
        font-family: 'Tajawal', sans-serif;    }
    
    .inputsContainer {
      width: 600px;
      margin: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 10px;
    }
    
    .boxContainer {
      width: 100%;
      margin-top: 0px;
      padding-top: 0px;
      margin: auto;
      text-align: center;
    }
    
    .ContentImg {
      position: relative;
      margin: auto;
      padding: 0px;
    }
    
    .resultContainer1 {
      margin: auto;
      position: absolute;
      z-index: 9999;
      color: #fff;
      border-radius: 50px;
      text-align: right !important;
      left: 10%;
      right: 10%;
      justify-content: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      padding: 15px;
      bottom: 8%;
    }
    .resultContainer2 {
      margin: auto;
      position: absolute;
      z-index: 9999;
      color: #fff;
      border-radius: 50px;
      text-align: right !important;
      left: 10%;
      right: 10%;
      justify-content: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      padding: 15px;
      bottom: 17%;
    }
    .result {
      display: flex;
      justify-content: center;
      position: absolute;
      padding-bottom: 15px;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      word-wrap: break-word;
      font-size: 18px;
      font-weight: 700;
      line-height: 100px;
      color: #000;
      text-transform: capitalize;
    }
    
    
    .companyImage{
                max-width: 100%;
     max-height: 100%;
            }

            